.height-240 {
  height: 240px;
}

.height-420{
  height: 420px;
}

.height-580{
  height: 580px;
}

.height-620{
  height: 620px;
}

.width-420 {
  width: 420px;
}

.overflow-x {
  overflow-x: auto;
}

.object-fit-bottom {
  object-position: bottom;
}

.ms--70{
  margin-left: -70px;
}

.transformX-center {
  transform: translateX(-50%);
}

.transformY-center {
  transform: translateY(-50%);
}

.transform-center {
  transform: translate(-50%, -50%);
}

@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }