<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container">
          <a class="navbar-brand logo logo-primary" href="#">DOYOGA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav m-auto">
              <li class="nav-item">
                <a class="nav-link py-7 px-4" href="#">課程介紹</a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-7 px-4" href="surroundings.html">瑜珈空間</a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-7 px-4" href="#">當月課表</a>
              </li>
            </ul>
            <div class="d-flex">
              <a class="btn btn-outline-success rounded-3 me-4">立即預約</a>
              <a class="btn btn-outline-success rounded-3" href="contact.html">聯絡我們</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <%- contents %>

    <footer class="footer bg-success text-white">
      <div class="container m-auto row justify-content-between py-8">
        <h3 class="col-lg-5 col-md-12 fs-h3">
          現在訂閱，獲得課程優惠碼！
        </h3>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="輸入您的電子信箱">
            <button class="btn btn-primary px-4">訂閱</button>
          </div>
        </div>
      </div>
      <hr class="m-0"/>
      <div class="container row m-auto py-8">
        <div class="col-sm-4 col-xs-6">
          <a class="navbar-brand logo logo-xf" href="index.html">DOYOGA</a>
          <ul class="mb-0 p-0">
            <li class="py-1">
              <a class="fs-7 link-light" href="#">課程介紹</a>
            </li>
            <li class="py-1">
              <a class="py-1 fs-7 link-light" href="#">瑜珈空間</a>
            </li>
            <li class="py-1">
              <a class="py-1 fs-7 link-light" href="#">當月課表</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 col-xs-6 text-center align-self-end">
          <small class="fs-7">© 2021. All Rights Reserved.</small>
        </div>
        <div class="col-sm-4 col-xs-6">
          <ul class="d-flex justify-content-end">
            <li class="ps-2"><i class="fab fa-facebook"></i></li>
            <li class="ps-2"><i class="fab fa-instagram"></i></li>
            <li class="ps-2"><i class="fab fa-line"></i></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>