body{
  font-family: $font-family;
  line-height: $line-height;
}

a {
  text-decoration: none;
  transition: $anim-time;
}

ul,
li {
  list-style: none;
}

*, *::before, *::after{
	box-sizing: border-box;
}

img, video{
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}